.trimmer-board-item {
	padding: 0;
	&__filters {
		margin: 10px 0;
	}
	&__post {
		padding: 10px 0;
		list-style: none;
		&:hover {
			background-color: rgba(79,192,141	,0.1);
		}
		&:not(:last-child) {
			border-bottom: 1px solid #ddd;
		}
		&__trimmer-skill {
			font-weight: 600;
		  color: #ff9d00;
		  cursor: pointer;
		  max-width: 165px;
		  display: inline-block;
		  overflow: hidden;
		  white-space: nowrap;
		  text-overflow: ellipsis;
		  vertical-align: top;
		}
		&__trimmer-name {
			font-weight: 300;
			font-size: 14px;
			color: #2c3e50;
		}
		&__link {
			display: block;
			font-size: 18px;
			&:hover {
				text-decoration: none;
			}
		}
		&__metadata {
			display: block;
			font-size: 16px;
			font-weight: 300;
			color: #2c3e50;
			&__date {
				float: right;
				font-style: italic;
			}
			@media (min-width: 426px) {
				display: inline-block;
				float: right;
			}
		}
	}
}