.job-post {
	&--featured {
		background-color: #FFFFE0;
	}
	&__job-title {
		font-weight: 600;
	  color: #ff9d00;
	  cursor: pointer;
		vertical-align: top;
	  display: inline-block;
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  @media (max-width:1024px) {
	  	max-width: 165px;
	  }
	  @media (min-width:1025px) {
	  	max-width: 205px;
	  }
	  @media (min-width:1350px) {
	  	max-width: 400px;
	  }
	}
	&__company-name {
		white-space: nowrap;
		font-size: 16px;
		font-weight: 300;
		color: #2c3e50;
		vertical-align: top;
	  display: inline-block;
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  @media (max-width:1024px) {
	  	max-width: 165px;
	  }
	  @media (min-width:1025px) {
	  	max-width: 205px;
	  }
	  @media (min-width:1350px) {
	  	max-width: none;
	  }
	}
	&__link {
		display: block;
		padding: 0 5px;
		font-size: 18px;
		&:hover {
			text-decoration: none;
		}
		@media (max-width: 426px) {
			min-height: 50px;
		}
	}
	&__metadata {
		display: block;
		font-size: 16px;
		font-weight: 300;
		color: #2c3e50;
		&__date {
			float: right;
			font-style: italic;
		}
		@media (min-width: 426px) {
			display: inline-block;
			float: right;
		}
	}
}