.job-posts-container {
	padding: 0;
}
.job-post {
	padding: 10px 0;
	list-style: none;
	&:hover {
		background-color: rgba(79,192,141	,0.1);
	}
	&:not(:last-child) {
		border-bottom: 1px solid #ddd;
	}
	&__job-title {
		font-weight: 600;
	  color: #ff9d00;
	  cursor: pointer;
	  max-width: 165px;
	  display: inline-block;
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  vertical-align: top;
	}
	&__company-name {
		font-size: 16px;
		font-weight: 300;
		color: #2c3e50;
	}
	&__link {
		display: block;
		font-size: 18px;
		&:hover {
			text-decoration: none;
		}
	}
	&__metadata {
		display: block;
		font-size: 16px;
		font-weight: 300;
		color: #2c3e50;
		&__date {
			float: right;
			font-style: italic;
		}
		@media (min-width: 426px) {
			display: inline-block;
			float: right;
		}
	}
}